{% extends 'tools/base.html' %}

{% block content %}
<h2>Welcome to Howdy Neighbor!</h2>
  <nav>
    Filter by any of the following tags:<br><br>
    <a href="{% url 'tools:index' %}">ALL</a>
    Availability:
    <a href="{% url 'tools:selection' 'hours' %}">Hours</a>
    <a href="{% url 'tools:selection' 'days' %}">Days</a>
    <a href="{% url 'tools:selection' 'weeks' %}">Weeks</a>
    Power Tools:
    <a href="{% url 'tools:selection' 'powered' %}">Powered</a>
    <a href="{% url 'tools:selection' 'unpowered' %}">Unpowered</a>
    Other:
    <a href="{% url 'tools:selection' 'recent' %}">Recent</a>
    <a href="{% url 'tools:selection' 'popular'%}">Popular</a>
  </nav><br><br>
{% for object in object_list %}
  <form action="{% url 'tools:increment_watchers' object.id %}" method='post'>
    {% csrf_token %}
    <div>
      <p>{{object.name}}</p>
      <button name=>Add to my watchlist</button><span>Watchers: {{object.watchers}}</span>
      {% if request.user.is_superuser %}
      <a href="{% url 'tools:delete' object.id %}">Delete</a>
      {% endif %}
    </div>
  </form>
{% endfor %}
{% if user.is_authenticated %}
<a href="{% url 'tools:new' %}">Add new tool</a>
{% endif %}

{% endblock content%}
